/** 
* Making global variables for colors extracted from ACF 
*/

//Main Theme Colors
$primary_color: var(--primary-color);
$secondary_color: var(--secondary-color);
$tertiary_color: var(--tertiary-color);
$primary_color_rgb : var(--primary-color-rgb);
$secondary_color_rgb: var(--secondary-color-rgb);
$tertiary_color_rgb: var(--tertiary-color-rgb);

.bg-primary {
    background-color: $primary_color;
}

.bg-secondary {
    background-color: $secondary_color;
}

.bg-tertiary {
    background-color: $tertiary_color;
}

//Section Background
$primary_section_color: var(--primary-section-color);
$secondary_section_color: var(--secondary-section-color);

.bg-section-primary {
    background-color: $primary_section_color;
}

.bg-section-secondary {
    background-color: $secondary_section_color;
}

//Text Colors
$primary_text_color: var(--primary-text-color);
$primary_light_text_color: var(--primary-light-text-color);
$secondary_text_color: var(--secondary-text-color);
$hero_preheading_color: var(--hero-preheading-color);

.text-primary {
    color: $primary_text_color;
}

.text-primary-light {
    color: $primary_light_text_color;
}

.text-secondary {
    color: $secondary_text_color;
}

.text-hero-preheading {
    color: $hero_preheading_color;
}

//Button Colors
//Primary Button
$primary_button_text_color: var(--primary-button-text-color);
$primary_button_background_color: var(--primary-button-background-color);

//Secondary Button
$secondary_button_text_color: var(--secondary-button-text-color);
$secondary_button_background_color: var(--secondary-button-background-color);

//Banner Button
$banner_button_text_color: var(--banner-button-text-color);
$banner_button_background_color: var(--banner-button-background-color);

//Header Button
$header_button_text_color: var(--header-button-text-color);
$header_button_background_color: var(--header-button-background-color);

//Link Colors
$link_color: var(--link-color);
$link_color_rgb: var(--link-color-rgb);

//Footer Links Colors
$footer_link_color: var(--footer-link-color);
$footer_link_hover_color: var(--footer-link-hover-color);
$footer_link_active_color: var(--footer-link-active-color);

//Heading Decorations
$primary_heading_decoration: var(--primary-heading-decoration);
$secondary_heading_decoration: var(--secondary-heading-decoration);
$tertiary_heading_decoration: var(--tertiary-heading-decoration);



//Gradients
.bg-first-gradient {
    background: var(--first-gradient);
}

.bg-second-gradient {
    background: var(--second-gradient);
}