/** 
* Global stylings for elements 
*/

h1 {
    span {
        text-transform: uppercase;
        color: $hero_preheading_color;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}

.homeEditorContent {
    h2 {
        color: $secondary_text_color;
        font-weight: 800;
        font-size: 72px;
        line-height: 82px;
        margin-bottom: 1.1rem;
    }

    p {
        color: $primary_light_text_color;
        font-weight: 600;
        font-size: 24px;
    }
}

h2 {
    font-size: 33px;
    line-height: 44px;
    font-weight: 800;
    margin-bottom: 1.1rem;
}

.homeGetStrong {
    h2 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 800;
        margin-bottom: 1.1rem;
    }
}

p {
    color: $primary_light_text_color;
    font-weight: 500;
    font-size: 20px;
}

button {
    a {
        letter-spacing: 0.03em;
    }
}

.button-primary {
    background-color: $primary_button_background_color;
    position: relative;
    overflow: hidden;

        &:before, &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 1px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          border-radius: 50%;
        }
          
        &:before {
    
          background: $primary_button_hover_darker;
          transition: 0.6s ease-in;
          transition-delay: .1s;
        }
    
        &:after {
    
          background: $primary_button_hover_dark;
          transition: 0.8s ease;
          transition-delay: .4s;
        }
    
        &:hover {
    
          &:before, &:after {
    
            transform: translate(-50%, -50%) scale(310);
          }
        }

        a {
            position: relative;
            z-index: 10;
            width: 100%;
            color: $primary_button_text_color;
        }

        a:hover {
          color: $primary_button_text_color;
        }
}

.button-secondary {
    background-color: $secondary_button_background_color;
    position: relative;
    overflow: hidden;

        &:before, &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 1px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          border-radius: 50%;
        }
          
        &:before {
    
          background: $secondary_button_hover_darker;
          transition: 0.6s ease-in;
          transition-delay: .1s;
        }
    
        &:after {
    
          background: $secondary_button_hover_dark;
          transition: 0.8s ease;
          transition-delay: .4s;
        }
    
        &:hover {
    
          &:before, &:after {
    
            transform: translate(-50%, -50%) scale(310);
          }
        }

        a {
            position: relative;
            z-index: 10;
            color: $secondary_button_text_color;
        }

        a:hover {
          color: $secondary_button_text_color;
        }
}

.bannerButton_wrapper button {
    background-color: $banner_button_background_color;
    position: relative;
    overflow: hidden;

        &:before, &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 1px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          border-radius: 50%;
        }
          
        &:before {
    
          background: $banner_button_hover_dark;
          transition: 0.6s ease-in;
          transition-delay: .1s;
        }
    
        &:after {
    
          background: $banner_button_hover_darker;
          transition: 0.8s ease;
          transition-delay: .4s;
        }
    
        &:hover {
    
          &:before, &:after {
    
            transform: translate(-50%, -50%) scale(310);
          }
        }

        a {
            position: relative;
            z-index: 10;
            color: $banner_button_text_color;
        }

        a:hover {
          color: $banner_button_text_color;
        }
}

.header-button {
    background-color: $header_button_background_color;
    position: relative;
    overflow: hidden;

        &:before, &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 1px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          border-radius: 50%;
        }
          
        &:before {
    
          background: $header_button_hover_dark;
          transition: 0.6s ease-in;
          transition-delay: .1s;
        }
    
        &:after {
    
          background: $header_button_hover_darker;
          transition: 0.8s ease;
          transition-delay: .4s;
        }
    
        &:hover {
    
          &:before, &:after {
    
            transform: translate(-50%, -50%) scale(310);
          }
        }

        a {
            position: relative;
            z-index: 10;
            color: $header_button_text_color;
        }

        a:hover {
          color: $header_button_text_color;
        }
}

a {
  color: $link_color;
}

a:hover {
  color: $link_hover_color;
}

a:active {
  color: $link_active_color;
}