/*start styles*/

.accordion__item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 30px 0px #3636360f;
    background-color: #F6F8F9;
    min-height: 80px;

    span {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
    }
}


.accordion__item:hover {
    cursor: pointer;
}


.accordion_item__wrapper {
    border: 1px solid #D5DFE2;
    border-radius: 12px;   
}

@media (min-width: $size_md) and (max-width: $size_lg) {
    .accordion_item__wrapper {
        margin: 0.5rem 0;
    }
     
}


.accordion__header.active {
    background: #ECF0F2;
}

.accordion__header.active .accordionDownIcon {
    transform: rotateX(180deg);
}

.accordion__item .accordion__content {
    padding: 0px 25px;
    max-height: 0;
    transition: .5s;
    overflow: hidden;
}

.accordion__content {
    p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        padding: 15px 0;
        color: $primary_light_text_color;
    }
}

.accordionIcon {
    min-width: 15px;
    height: 8px;
}

.accordionIcon {
    min-width: 15px;
    height: 8px;
    transition: transform 0.3s ease;

    path {
        fill: $secondary_color;
    }
}

.rotate-180 {
    transform: rotate(180deg);

    path {
        fill: $primary_color;
    }
  }

#faqContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .panel {
    display: none;
    overflow: hidden;
    background-color: #F6F8F9;
    padding: 0 1.25rem 1.25rem 1.25rem;
  }
  
  .panel p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: black;
  }

