/*start styles*/
.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.accordion__item {
    border: 1px solid #e5f3fa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 30px 0px #3636360f;
}

.accordion__header {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $secondary_text_color;
    cursor: pointer;
    position: relative;
}

.accordion__header.active {
    background: #ECF0F2;
}

.accordion__header.active .accordionDownIcon {
    transform: rotateX(180deg);
}

.accordion__item .accordion__content {
    padding: 0px 25px;
    max-height: 0;
    transition: .5s;
    overflow: hidden;
}

.accordion__content {

    p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        padding: 15px 0;
        color: $primary_light_text_color;
    }
}



.accordionDownIcon {
    fill: $primary_color;

    path {
        fill: $primary_color;
    }
}