#homeStrong {
    overflow: hidden;
}

.getStrong_decobox {
    width: 284px;
    height: 462px;
    background: linear-gradient(180deg, #F0EFF8 50%, $primary_color 350%);
    border-radius: 30px;
}

.getStrong_image__wrapper {
    img {
        width: 400px;
        height: 350px;
        gap: 7.91px;
        border-radius: 10px 160px 160px 10px;        
        position: absolute;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%); 
    }
}

.getStrongContent_wrapper {
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: 1.6rem;
    }

    p {
        color: $primary_light_text_color;
    }
}

.getStrongDeco {
    position: absolute;
    top: -45%;
    left: -45%;
    fill: rgb($secondary_color_rgb, 0.5);

    ellipse {
        fill: rgb($secondary_color_rgb, 0.5);
        opacity: 0.5;
    }
}

@media screen and (max-width: $size_md) {
    .getStrongContent {
        text-align: center !important;
    }

    .getStrongDeco {
        left: -20%;
        scale: 0.8;
    }

    .getStrongContent_wrapper {
        h1,h2,h3,h4,h5,h6 {
            font-size: 30px;
            line-height: 36px;
        }

        p {
            font-size: 18px;
        }
    }

    .getStrong_image__wrapper img {
        width: 275px;
        height: 265px;
        left: 57%;
    }

    .getStrong_decobox {
        width: 284px;
        height: 362px;
    }
}