#heroHome {
    overflow: hidden;
    background: linear-gradient(133.89deg, rgba(254, 241, 250, 0.65) -12.62%, rgba(240, 239, 248, 0.15) 61.05%);
}

.homeHero_imageWrapper {
    display: inline-block;
    position: relative;
}

.imageBorderWrapper {
    display: inline-block;
    border-radius: 50%;
    padding: 20px;
    border: 0.5px solid rgb($secondary_color_rgb, 0.3);
    position: relative;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);   
}

.imageBorderWrapper img {
    border-radius: 50%;
    border: 16.28px solid rgb($secondary_color_rgb, 0.3);
    display: block;
}

.homeHero_imageWrapper {
    z-index: 1;
}

.heroDecoGreen {
    position: absolute;
    top: -5%;
    left: 0;
    fill: rgb($tertiary_color_rgb, 0.5);
    z-index: 1;

    ellipse {
        fill: rgb($tertiary_color_rgb, 0.5);
    }
}

.homeDecoPurple {
    position: absolute;
    top: -20%;
    left: 0;
    fill: rgb($primary_color_rgb, 0.7);
    z-index: 1;

    ellipse {
        fill: rgb($primary_color_rgb, 0.7);
        opacity: 0.1;
    }
}

.heroDecoPeach {
    position: absolute;
    top: -10%;
    right: 0;
    fill: rgb($secondary_color_rgb, 0.2);
    z-index: 1;

    ellipse {
        fill: rgb($secondary_color_rgb, 0.2);
    }
}

@media screen and (max-width: $size_md) {
    .homeEditorContent {
        text-align: center !important;
        z-index: 2;
    }

    .heroDecoPeach {
        top: 30%;
    }
}
