#homePrograms {
    overflow: hidden;
}

.homePrograms_content {
    color: $secondary_text_color;

    p {
        color: $primary_light_text_color;
    }
}

.programsButton_link {
    font-size: 14px;
}

.programs_imageContent__contentWrapper {
    h1, h2, h3, h4, h5 {
        font-size: 30px;
        line-height: 44px;
        font-weight: 800;
        margin-bottom: 0.7rem;
        color: $secondary_text_color;
    }

    p {
        color: $primary_text_color;
        font-size: 18px;
        font-weight: 500;
    }
}

.programs_imageContent__imageWrapper {
    width: 500px;
    height: 285px;

    img {
        border-radius: 160px 30px 30px 160px;
    }
}

.programs_contentImage__imageWrapper {
    width: 500px;
    height: 285px;

    img {
        border-radius: 30px 160px 160px 30px;
    }
}

.imageContent_coloredBackground {
    width: 500px;
    height: 270px;
    border-radius: 160px 30px 30px 160px;
    position: absolute;
    bottom: 3%;
    left: 2%;
    z-index: 0;
}

.contentImage_coloredBackground {
    width: 500px;
    height: 270px;
    border-radius: 30px 160px 160px 30px;
    position: absolute;
    bottom: 3%;
    right: 2%;
    z-index: 1;
}

.layout-1, .layout-4 {
    background-color: $secondary_color;
}

.layout-2, .layout-5 {
    background-color: $tertiary_color;
}

.layout-3, .layout-6 {
    background-color: $primary_color;
}

.programsDecoration {
    position: absolute;
    top: 25%;
    left: 0;
}

.programsButton_wrapper {
    button {
        color: $secondary_button_text_color;
        background-color: $secondary_button_background_color;
        font-size: 14px;
        font-weight: 800;
        border-radius: 8px;

        a {
            font-size: 14px;
            font-weight: 800;
        }
    }
}

@media screen and (max-width: $size_md) {
    .programs_contentImage__imageWrapper,
    .programs_imageContent__imageWrapper {
        width: auto;
        height: 200px;
    }

    .imageContent_coloredBackground,
    .contentImage_coloredBackground {
        width: 100%;
        height: 200px;
    }

    .imageContent_coloredBackground,
    .contentImage_coloredBackground {
        bottom: -12%;
    }

    .programsDecoration {
        top: 40%;
    }

    .homePrograms_content {
        display: flex;
        justify-content: center;

        h1,h2,h3,h4,h5,h6 {
            width: 80%;
            font-size: 30px;
            line-height: 36px;
            font-weight: 800;
        }
    }

    .programs_imageContent__contentWrapper {
        h1,h2,h3,h4,h5,h6 {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

@media (min-width: $size_md) and (max-width: $size_lg) {
    .homePrograms_content {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: $size_lg) {
    .programs_contentImage__imageWrapper,
    .programs_imageContent__imageWrapper {
        width: auto;
        height: fit-content;
    }

    .programsImageContent_image,
    .programsContentImage_image {
        img {
            width: 100%;
        }
    }

    .imageContent_coloredBackground,
    .contentImage_coloredBackground {
        width: 100%;
        height: 100%;
    }

    .imageContent_coloredBackground,
    .contentImage_coloredBackground {
        bottom: -5%;
    }

    .programsDecoration {
        top: 40%;
    }
}


