#homeReviews {
    overflow: hidden;
}

.reviewerName {
    font-weight: 700;
    font-size: 20px;
}

.quoteSVG {
    fill: $primary_color;
}

.reviewImage_wrapper {
    margin-left: -70%;
    width: 280px;
    height: 280px;

    img {
        border-radius: 20px 160px 160px 20px;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
}

.reviewsContent_wrapper {
    box-shadow: 0px 0px 100px 0px #0000001A;
}

.reviewParagraph {
    color: $primary_text_color;
}

@media screen and (max-width: $size_sm) {
    .reviewsContent_wrapper {
        padding: 17rem 2rem 2rem 2rem;
        min-height: 700px;
    }

    .reviewImage_wrapper {
        position: absolute;
        left: 20%;
        top: -10%;
        margin-left: 0;
    }

    .homeReviews_content {

        h1,h2,h3,h4,h5,h6 {
            font-size: 30px;
            line-height: 36px;
            font-weight: 800;
            width: 70%; /* Reduce width */
            margin: 0 auto 2.5rem auto; /* Center the heading block */
            text-align: center; /* Center the text inside the heading */
        }
    }

    .reviewsCarouselGreenDeco {
        scale: 0.5;
        left: -30%;
    }

    .reviewsCarouselPurpleDeco {
        scale: 0.5;
        top: 45%;
        right: -70%;
    }

    .reviewParagraph {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (min-width: 640px) and (max-width: $size_md) {
    .homeReviews_content {
        h1,h2,h3,h4,h5,h6 {
            width: 40% !important; /* Reduce width */
        }
    }
}

@media (min-width: $size_sm) and (max-width: $size_md) {
    .homeReviews_content {
        h1,h2,h3,h4,h5,h6 {
            width: 55%; /* Reduce width */
            margin: 0 auto 2.5rem auto; /* Center the heading block */
            text-align: center; /* Center the text inside the heading */
        }
    }

    .reviewImage_wrapper {
        position: absolute;
        left: 30%;
        top: -20%;
        margin-left: 0;
    }

    .reviewsContent_wrapper {
        padding-top: 13rem;
    }

    .reviewsCarouselPurpleDeco {
        scale: 0.6;
        top: 30%;
        left: 40%;
    }
}

@media (min-width: $size_md) and (max-width: $size_lg) {
    .reviewImage_wrapper {
        margin-left: -80%;
    }

    .reviewsContent_wrapper {
        min-height: 380px;
    }
}