#homeBanner {
    overflow: hidden;
}

.bannerWrapper {
    p {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
        color: $secondary_text_color;
    }
}

.bannerDecoration {
    position: absolute;
    top: -10%;
    left: 3%;
    scale: 0.85;
}

.bannerButton_wrapper {
    button {
        margin-top: 1rem;
    }
}