#homeStrong {
    overflow: hidden;
}

.getStrong_decobox {
    width: 284px;
    height: 462px;
    background: linear-gradient(180deg, #F0EFF8 50%, $quaternary_color 160%);
    border-radius: 30px;
}

.getStrong_image__wrapper {
    img {
        width: 400px;
        height: 350px;
        gap: 7.91px;
        border-radius: 10px 160px 160px 10px;        
        position: absolute;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%); 
    }
}

.getStrongContent_wrapper {
    p {
        color: $primary_light_text_color;
    }
}

.getStrongDeco {
    position: absolute;
    top: -45%;
    left: -45%;
    fill: $secondary_color;

    ellipse {
        fill: $secondary_color;
        opacity: 0.5;
    }
}

@media screen and (max-width: $size_md) {
    .getStrongContent {
        text-align: center !important;
    }

    .getStrongDeco {
        left: -20%;
        scale: 0.8;
    }


}