.programsButton_link {
    font-size: 14px;
}

.programs_imageContent__contentWrapper {
    h3 {
        font-size: 30px;
        line-height: 44px;
        font-weight: 800;
        margin-bottom: 0.7rem;
    }
}

.programs_imageContent__imageWrapper {
    width: 500px;
    height: 285px;

    img {
        border-radius: 160px 30px 30px 160px;
    }
}

.programs_contentImage__imageWrapper {
    width: 500px;
    height: 285px;

    img {
        border-radius: 30px 160px 160px 30px;
    }
}

.imageContent_coloredBackground {
    width: 500px;
    height: 250px;
    border-radius: 160px 30px 30px 160px;
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    z-index: 0;
}

.contentImage_coloredBackground {
    width: 500px;
    height: 250px;
    border-radius: 30px 160px 160px 30px;
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    z-index: 0;
}

.layout-1, .layout-4 {
    background-color: $tertiary_color;
}

.layout-2, .layout-5 {
    background-color: $quaternary_color;
}

.layout-3, .layout-6 {
    background-color: $quinary_color;
}

.programsDecoration {
    position: absolute;
    top: 25%;
    left: 0;
}