#homeReviews {
    overflow: hidden;
}

.reviewerName {
    font-weight: 700;
    font-size: 20px;
}

.quoteSVG {
    fill: $primary_color;
}

.reviewImage_wrapper {
    margin-left: -70%;
    width: 280px;
    height: 280px;

    img {
        border-radius: 20px 160px 160px 20px;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
}

.homeReviews_content {
    h1, h2, h3, h4, h5 {
        font-size: 30px;
        line-height: 44px;
        font-weight: 800;
        margin-bottom: 0.7rem;
        color: $secondary_text_color;
    }

    p {
        color: $primary_text_color;
        font-size: 18px;
        font-weight: 500;
    }
}

.reviewsContent_wrapper {
    box-shadow: 0px 0px 100px 0px #0000001A;
}

.reviewParagraph {
    color: $primary_text_color;
}

@media screen and (max-width: $size_md) {
    .reviewsContent_wrapper {
        padding: 17rem 2rem 2rem 2rem;
        min-height: 700px;
    }

    .reviewImage_wrapper {
        position: absolute;
        left: 20%;
        top: -10%;
        margin-left: 0;
    }

    .homeReviews_content {
        margin-bottom: 2.5rem;
    }

    .reviewsCarouselGreenDeco {
        scale: 0.5;
        left: -30%;
    }

    .reviewsCarouselPurpleDeco {
        scale: 0.5;
        top: 45%;
        right: -70%;
    }

}
