.reviewerName {
    font-weight: 700;
    font-size: 20px;
}

.quoteSVG {
    fill: $primary_color;
}

.reviewImage_wrapper {
    margin-left: -70%;
    width: 280px;
    height: 280px;

    img {
        border-radius: 20px 160px 160px 20px;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
}