#homeSteps {
    background: linear-gradient(0deg, #F6F8F9, #F6F8F9),
    linear-gradient(0deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45));
    overflow: hidden;
}

.stepsCard_span {
    font-size: 48px;
}

.stepCard_counter1 {
    color: $secondary_color;
}

.stepCard_counter2 {
    color: $quaternary_color;
}

.stepCard_counter3 {
    color: $tertiary_color;
}

.iconRounded_wrapper {
    width: 60px;               /* Adjust the width */
    height: 60px;              /* Adjust the height */
    background-color: #ECF0F2;
    border-radius: 50%;          /* Makes the div fully rounded (circle) */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;         
    border: 5px solid #FAFBFB;    /* Lighter border color */
    border-radius: 50%;    
  }

.stepCard_wrapper {
    min-height: 290px;
    box-shadow: 0px 4px 54px 0px #0000000F;
}

.cardsSection_decorativeShape {
    position: absolute;
    bottom: 0; 
    right: 0;
    z-index: 0;
}

@media screen and (max-width: $size_md) {
    .stepsContentWrapper {
        display: flex;
        justify-content: center;

        h1,h2,h3,h4,h5,h6 {
            width: 70%;
            text-align: center !important;
        }
    }

    .cardsSection_decorativeShape {
        left: 30%;
        scale: 0.8;
    }
}