#classesPages {
    background: linear-gradient(0deg, #F6F8F9, #F6F8F9),
    linear-gradient(0deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45));
}

.classPageContent_wrapper {
    h1,h2,h3,h4,h5,h6 {
        font-size: 30px;
        margin-bottom: 16px;
        line-height: 36px;
        font-weight: 800;
        color: $secondary_text_color;
    }

    p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
    }
}

.classPageFlexibleButton_wrapper {
    button {
        background-color: $secondary_button_background_color;
        position: relative;
        overflow: hidden;
        border-radius: 0.6rem;
        
    
            &:before, &:after {
              content: '';
              position: absolute;
              height: 1px;
              width: 1px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              border-radius: 50%;
            }
            
            &:before {
    
                background: color-mix(in srgb, $secondary_button_background_color 50%, rgba(0, 0, 0, 0.438) 55%);
                transition: 0.6s ease-in;
                transition-delay: .1s;
              }
          
              &:after {
          
                background: color-mix(in srgb, $secondary_button_background_color 100%, rgba(0, 0, 0, 0.596) 15%);
                transition: 0.8s ease;
                transition-delay: .4s;
              }
        
            &:hover {
        
              &:before, &:after {
        
                transform: translate(-50%, -50%) scale(310);
              }
            }
    
            a {
                position: relative;
                z-index: 10;
                color: $secondary_button_text_color;
            }
    
            a:hover {
              color: $secondary_button_text_color;
            }
    
        a {
            font-size: 14px;
            font-weight: 800;
            color: $secondary_button_text_color;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
        }
    }
}


.classPage_flexibleContent__wrapper {
    box-shadow: 5px 0px 31px -6px #00000012;
}

.classPageDecoration {
    position: absolute;
    top: 33%;
    z-index: 1;
}

@media screen and (min-width: $size_md) {
    .classesPages_wrapper {
        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 0 !important;
        }
    }

    .classPage_content__layout-0, .classPage_content__layout-2, .classPage_content__layout-4, .classPage_content__layout-6, .classPage_content__layout-8, .classPage_content__layout-10, .classPage_content__layout-12, .classPage_content__layout-14, .classPage_content__layout-16, .classPage_content__layout-18, .classPage_content__layout-20 {
        margin-left: 30%;
    }
    
    .classPage_content__layout-1, .classPage_content__layout-3, .classPage_content__layout-5, .classPage_content__layout-7, .classPage_content__layout-9, .classPage_content__layout-11, .classPage_content__layout-13, .classPage_content__layout-15, .classPage_content__layout-17, .classPage_content__layout-19, .classPage_content__layout-21 {
        margin-right: 30%;
    }

    
    .classImage_wrapper_layout-1, .classImage_wrapper_layout-3, .classImage_wrapper_layout-5, .classImage_wrapper_layout-7, .classImage_wrapper_layout-9, .classImage_wrapper_layout-11, .classImage_wrapper_layout-13, .classImage_wrapper_layout-15, .classImage_wrapper_layout-17, .classImage_wrapper_layout-19, .classImage_wrapper_layout-21 {
        order: 2;
    }
}

.imageContentWrapper_layout-1, .imageContentWrapper_layout-3, .imageContentWrapper_layout-5, .imageContentWrapper_layout-7, .imageContentWrapper_layout-9, .imageContentWrapper_layout-11, .imageContentWrapper_layout-13, .imageContentWrapper_layout-15, .imageContentWrapper_layout-17, .imageContentWrapper_layout-19, .imageContentWrapper_layout-21 {
    img {
        max-width: none;
        width: 350px;
        height: 290px;
        position: absolute;
        top: 50%; 
        left: -35%;
        z-index: 10;
        transform: translate(-50%, -50%);
        box-shadow: 0px 2.35px 65.89px 0px #00000021;
        border-radius: 160px 30px 30px 160px;
    }
}

.classPage_image__wrapper {
    .imageContentWrapper_layout-0, .imageContentWrapper_layout-2, .imageContentWrapper_layout-4, .imageContentWrapper_layout-6, .imageContentWrapper_layout-8, .imageContentWrapper_layout-10, .imageContentWrapper_layout-12, .imageContentWrapper_layout-14, .imageContentWrapper_layout-16, .imageContentWrapper_layout-18, .imageContentWrapper_layout-20 {
        img {
            max-width: none;
            width: 350px;
            height: 290px;
            position: absolute;
            z-index: 10;
            top: 50%; 
            left: 135%;
            transform: translate(-50%, -50%);
            box-shadow: 0px 2.35px 65.89px 0px #00000021;
            border-radius: 30px 160px 160px 30px;
        }
    }
}

.classPages_imageContent__coloredBackground_layout-0, .classPages_imageContent__coloredBackground_layout-3, .classPages_imageContent__coloredBackground_layout-6, .classPages_imageContent__coloredBackground_layout-9, .classPages_imageContent__coloredBackground_layout-12, .classPages_imageContent__coloredBackground_layout-15, .classPages_imageContent__coloredBackground_layout-18, .classPages_imageContent__coloredBackground_layout-21 {
    background-color: $primary_color;
    max-width: none;
    width: 350px;
    height: 290px;
    position: absolute;
    z-index: 5;
    border-radius: 30px 160px 160px 30px;
    left: 150%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

.classPages_imageContent__coloredBackground_layout-1, .classPages_imageContent__coloredBackground_layout-4, .classPages_imageContent__coloredBackground_layout-7, .classPages_imageContent__coloredBackground_layout-10, .classPages_imageContent__coloredBackground_layout-13, .classPages_imageContent__coloredBackground_layout-16, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-22 {
    background-color: $secondary_color;
    max-width: none;
    width: 350px;
    height: 290px;
    position: absolute;
    top: 50%; 
    left: -50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    border-radius: 160px 30px 30px 160px;
}

.classPages_imageContent__coloredBackground_layout-2, .classPages_imageContent__coloredBackground_layout-5, .classPages_imageContent__coloredBackground_layout-8, .classPages_imageContent__coloredBackground_layout-11, .classPages_imageContent__coloredBackground_layout-14, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-21, .classPages_imageContent__coloredBackground_layout-25 {
    background-color: $tertiary_color;
    max-width: none;
    width: 350px;
    height: 290px;
    position: absolute;
    z-index: 5;
    border-radius: 30px 160px 160px 30px;
    left: 150%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

@media (min-width: $size_md) and (max-width: $size_lg) {    

    .classPage_image__wrapper {
        width: 290px;
        height: 250px;
    }

    .classPages_imageContent__coloredBackground_layout-0, .classPages_imageContent__coloredBackground_layout-3, .classPages_imageContent__coloredBackground_layout-6, .classPages_imageContent__coloredBackground_layout-9, .classPages_imageContent__coloredBackground_layout-12, .classPages_imageContent__coloredBackground_layout-15, .classPages_imageContent__coloredBackground_layout-18, .classPages_imageContent__coloredBackground_layout-21 {
        max-width: none;
        width: 290px;
        height: 250px;
        position: absolute;
        z-index: 5;
        border-radius: 30px 160px 160px 30px;
        left: 55%;
        top: 85%;
    }

    .classPages_imageContent__coloredBackground_layout-1, .classPages_imageContent__coloredBackground_layout-4, .classPages_imageContent__coloredBackground_layout-7, .classPages_imageContent__coloredBackground_layout-10, .classPages_imageContent__coloredBackground_layout-13, .classPages_imageContent__coloredBackground_layout-16, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-22 {
        max-width: none;
        width: 290px;
        height: 250px;
        position: absolute;
        z-index: 5;
        border-radius: 160px 30px 30px 160px;
        left: -25%;
        top: 85%;
    }

    .classPages_imageContent__coloredBackground_layout-2, .classPages_imageContent__coloredBackground_layout-5, .classPages_imageContent__coloredBackground_layout-8, .classPages_imageContent__coloredBackground_layout-11, .classPages_imageContent__coloredBackground_layout-14, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-21, .classPages_imageContent__coloredBackground_layout-25 {
        max-width: none;
        width: 290px;
        height: 250px;
        position: absolute;
        z-index: 5;
        border-radius: 30px 160px 160px 30px;
        left: 55%;
        top: 85%;
    }

    .imageContentWrapper_layout-0, .imageContentWrapper_layout-2, .imageContentWrapper_layout-4, .imageContentWrapper_layout-6, .imageContentWrapper_layout-8, .imageContentWrapper_layout-10, .imageContentWrapper_layout-12, .imageContentWrapper_layout-14, .imageContentWrapper_layout-16, .imageContentWrapper_layout-18, .imageContentWrapper_layout-20 {
        img {
            width: 100% !important;
            height: 100% !important;
            left: 50% !important;
            top: 85% !important;
        }
    }
    
    .imageContentWrapper_layout-1, .imageContentWrapper_layout-3, .imageContentWrapper_layout-5, .imageContentWrapper_layout-7, .imageContentWrapper_layout-9, .imageContentWrapper_layout-11, .imageContentWrapper_layout-13, .imageContentWrapper_layout-15, .imageContentWrapper_layout-17, .imageContentWrapper_layout-19, .imageContentWrapper_layout-21 {
        img {
            width: 100% !important;
            height: 100% !important;
            left: -20% !important;
            top: 85% !important;
        }
    }
}


@media (min-width: $size_sm) and (max-width: $size_md) {
    .classImage_wrapper {
        height: 200px;
        width: 500px;
    }

    .imageContentWrapper {
        img {
            max-width: none;
            width: 300px !important;
            height: 250px !important;
            position: absolute;
            z-index: 10;
            top: 60% !important;
            left: 55% !important; 
            transform: translate(-50%, -50%);
            box-shadow: 0px 2.35px 65.89px 0px rgba(0, 0, 0, 0.1294117647);
            border-radius: 30px 160px 160px 30px;
            margin-top: 10%;
        }
    }

    .classPages_imageContent__coloredBackground_layout-0, .classPages_imageContent__coloredBackground_layout-3, .classPages_imageContent__coloredBackground_layout-6, .classPages_imageContent__coloredBackground_layout-9, .classPages_imageContent__coloredBackground_layout-12, .classPages_imageContent__coloredBackground_layout-15, .classPages_imageContent__coloredBackground_layout-18, .classPages_imageContent__coloredBackground_layout-21 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 60% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }

    .classPages_imageContent__coloredBackground_layout-1, .classPages_imageContent__coloredBackground_layout-4, .classPages_imageContent__coloredBackground_layout-7, .classPages_imageContent__coloredBackground_layout-10, .classPages_imageContent__coloredBackground_layout-13, .classPages_imageContent__coloredBackground_layout-16, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-22 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 60% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
        border-radius: 30px 160px 160px 30px;
    }

    .classPages_imageContent__coloredBackground_layout-2, .classPages_imageContent__coloredBackground_layout-5, .classPages_imageContent__coloredBackground_layout-8, .classPages_imageContent__coloredBackground_layout-11, .classPages_imageContent__coloredBackground_layout-14, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-21, .classPages_imageContent__coloredBackground_layout-25 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 60% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }
}

@media (min-width: 490px) and (max-width: 550px) {
    .imageContentWrapper {
        img {
            max-width: none;
            width: 300px !important;
            height: 250px !important;
            position: absolute;
            z-index: 10;
            top: 60% !important;
            left: 45% !important; 
            transform: translate(-50%, -50%);
            box-shadow: 0px 2.35px 65.89px 0px rgba(0, 0, 0, 0.1294117647);
            border-radius: 30px 160px 160px 30px;
            margin-top: 10%;
        }
    }

    .classPages_imageContent__coloredBackground_layout-0, .classPages_imageContent__coloredBackground_layout-3, .classPages_imageContent__coloredBackground_layout-6, .classPages_imageContent__coloredBackground_layout-9, .classPages_imageContent__coloredBackground_layout-12, .classPages_imageContent__coloredBackground_layout-15, .classPages_imageContent__coloredBackground_layout-18, .classPages_imageContent__coloredBackground_layout-21 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 50% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }

    .classPages_imageContent__coloredBackground_layout-1, .classPages_imageContent__coloredBackground_layout-4, .classPages_imageContent__coloredBackground_layout-7, .classPages_imageContent__coloredBackground_layout-10, .classPages_imageContent__coloredBackground_layout-13, .classPages_imageContent__coloredBackground_layout-16, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-22 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 50% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
        border-radius: 30px 160px 160px 30px;
    }

    .classPages_imageContent__coloredBackground_layout-2, .classPages_imageContent__coloredBackground_layout-5, .classPages_imageContent__coloredBackground_layout-8, .classPages_imageContent__coloredBackground_layout-11, .classPages_imageContent__coloredBackground_layout-14, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-21, .classPages_imageContent__coloredBackground_layout-25 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 50% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }
}

@media (min-width: 440px) and (max-width: 489px) {
    .imageContentWrapper {
        img {
            max-width: none;
            width: 300px !important;
            height: 250px !important;
            position: absolute;
            z-index: 10;
            top: 60% !important;
            left: 40% !important; 
            transform: translate(-50%, -50%);
            box-shadow: 0px 2.35px 65.89px 0px rgba(0, 0, 0, 0.1294117647);
            border-radius: 30px 160px 160px 30px;
            margin-top: 10%;
        }
    }

    .classPages_imageContent__coloredBackground_layout-0, .classPages_imageContent__coloredBackground_layout-3, .classPages_imageContent__coloredBackground_layout-6, .classPages_imageContent__coloredBackground_layout-9, .classPages_imageContent__coloredBackground_layout-12, .classPages_imageContent__coloredBackground_layout-15, .classPages_imageContent__coloredBackground_layout-18, .classPages_imageContent__coloredBackground_layout-21 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 45% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }

    .classPages_imageContent__coloredBackground_layout-1, .classPages_imageContent__coloredBackground_layout-4, .classPages_imageContent__coloredBackground_layout-7, .classPages_imageContent__coloredBackground_layout-10, .classPages_imageContent__coloredBackground_layout-13, .classPages_imageContent__coloredBackground_layout-16, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-22 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 45% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
        border-radius: 30px 160px 160px 30px;
    }

    .classPages_imageContent__coloredBackground_layout-2, .classPages_imageContent__coloredBackground_layout-5, .classPages_imageContent__coloredBackground_layout-8, .classPages_imageContent__coloredBackground_layout-11, .classPages_imageContent__coloredBackground_layout-14, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-21, .classPages_imageContent__coloredBackground_layout-25 {
        width: 300px !important;
        height: 250px !important;
        top: 60% !important;
        left: 45% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }
}

@media screen and (max-width: $size_sm) {
    .classImage_wrapper {
        height: 100px;
        width: 400px;
    }


    .imageContentWrapper {
        img {
            max-width: none;
            width: 200px !important;
            height: 150px !important;
            position: absolute;
            z-index: 10;
            top: 60% !important;
            left: 40% !important; 
            transform: translate(-50%, -50%);
            box-shadow: 0px 2.35px 65.89px 0px rgba(0, 0, 0, 0.1294117647);
            border-radius: 30px 160px 160px 30px;
            margin-top: 10%;
        }
    }

    .classPages_imageContent__coloredBackground_layout-0, .classPages_imageContent__coloredBackground_layout-3, .classPages_imageContent__coloredBackground_layout-6, .classPages_imageContent__coloredBackground_layout-9, .classPages_imageContent__coloredBackground_layout-12, .classPages_imageContent__coloredBackground_layout-15, .classPages_imageContent__coloredBackground_layout-18, .classPages_imageContent__coloredBackground_layout-21 {
        width: 200px !important;
        height: 150px !important;
        top: 60% !important;
        left: 45% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }

    .classPages_imageContent__coloredBackground_layout-1, .classPages_imageContent__coloredBackground_layout-4, .classPages_imageContent__coloredBackground_layout-7, .classPages_imageContent__coloredBackground_layout-10, .classPages_imageContent__coloredBackground_layout-13, .classPages_imageContent__coloredBackground_layout-16, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-22 {
        width: 200px !important;
        height: 150px !important;
        top: 60% !important;
        left: 45% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
        border-radius: 30px 160px 160px 30px;
    }

    .classPages_imageContent__coloredBackground_layout-2, .classPages_imageContent__coloredBackground_layout-5, .classPages_imageContent__coloredBackground_layout-8, .classPages_imageContent__coloredBackground_layout-11, .classPages_imageContent__coloredBackground_layout-14, .classPages_imageContent__coloredBackground_layout-19, .classPages_imageContent__coloredBackground_layout-21, .classPages_imageContent__coloredBackground_layout-25 {
        width: 200px !important;
        height: 150px !important;
        top: 60% !important;
        left: 45% !important; 
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }
}