@media screen and (min-width: $size_lg) {
    .embedCodePages_wrapper {
        margin-left: 27%;
        margin-right: 27%;
    }
}

.embedCodePagesSection {
    background: linear-gradient(180deg, #FFFFFF -3.42%, #F6F8F9 37.85%);
}

.embedCodePage_wrapper {
    box-shadow: 0px -11px 150px 0px #00000012;
}

.cancellation-embedCodePages {
    margin-left: 21%;
    margin-right: 21%;
}