#heroPages {
    background: linear-gradient(0deg, rgb($primary_color_rgb, 0.02), rgb($primary_color_rgb, 0.02)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67));    
}

.pageHomeHeroGrid {
    z-index: 5;
}

.heroPages_imageBorderWrapper {
    img {
        border-radius: 50%;
        border: 16.28px solid rgb($secondary_color_rgb, 0.3);
        display: block;
    }
}

.heroPages_wrapper {
    h1,h2,h3,h4,h5,h6 {
        font-size: 48px;
        font-weight: 800;
        line-height: 58px;
        color: $secondary_text_color;
        margin-bottom: 1rem;
    }

    p {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color: $primary_light_text_color;
    }
}

@media screen and (max-width: $size_lg) {
    .heroPages_wrapper {
        h1,h2,h3,h4,h5,h6 {
            font-size: 42px;
            font-weight: 800;
            line-height: 52px;
            color: $secondary_text_color;
            margin-bottom: 1rem;
        }
    
        p {
            font-size: 20px;
            font-weight: 600;
            line-height: 32px;
            color: $primary_light_text_color;
        }
    }
}


@media screen and (min-width: $size_lg) {
    .heroPages_wrapper {
        margin-right: 13%;
    }
}

@media screen and (max-width: $size_sm) {
    .heroPages_wrapper {
        h1,h2,h3,h4,h5,h6 {
            font-size: 40px;
            line-height: 48px;
        }
    
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media screen and (min-width: $size_lg) {
    .heroPages_wrapper {
        h1,h2,h3,h4,h5,h6 {
            width: 80%;
        }
    
        p {
            width: 90%;
        }
    }

    .sports-performance-heroPages {
        h1,h2,h3,h4,h5,h6 {
            width: 100%;
        }
    }
}

.pagesHeroPinkDeco {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(1.5);

    ellipse {
        fill: rgb($primary_color_rgb, 0.2);
    }
}

.pagesHeroPurpleDeco {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1.5);

    ellipse {
        fill: rgb($secondary_color_rgb, 0.5);
    }

}

@media screen and (max-width: $size_md) {
    .heroPages_wrapper {
        text-align: center;
    }
}

#heroPages {
    .pagesHeroPinkDeco {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .pagesHeroPurpleDeco {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.drop-inHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($tertiary_color_rgb, 0.5);

        ellipse {
            fill: rgb($tertiary_color_rgb, 0.5);
        }
    }
}

.aboutHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        ellipse {
            fill: rgb($secondary_color_rgb, 0.5);
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($tertiary_color_rgb, 0.5);

        ellipse {
            fill: rgb($tertiary_color_rgb, 0.5);
        }
    }
}

.programHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.7);

        ellipse {
            fill: rgb($secondary_color_rgb, 0.7);
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.programsHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.pricingHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($tertiary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($tertiary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.missionHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($tertiary_color_rgb, 0.3);

        ellipse {
            fill: rgb($tertiary_color_rgb, 0.3);
        }
    }
}

.free-introHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($tertiary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($tertiary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.cancellationHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.free-introImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($tertiary_color_rgb, 0.3);
            }
        }
    }
}

.missionImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($tertiary_color_rgb, 0.3);
            }
        }
    }
}

.cancellationImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($secondary_color_rgb, 0.3);
            }
        }
    }
}

.testimonialsHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($tertiary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($tertiary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($secondary_color_rgb, 0.3);

        ellipse {
            fill: rgb($secondary_color_rgb, 0.3);
        }
    }
}

.testimonials-heroPages {
    h1,h2,h3,h4,h5,h6 {
        width: 100%;
    }
}

.privacy-policyHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($tertiary_color_rgb, 0.3);

        ellipse {
            fill: rgb($tertiary_color_rgb, 0.3);
        }
    }
}

.nutritionImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($secondary_color_rgb, 0.3);
            }
        }
    }
}

.nutritionHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($tertiary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($tertiary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($secondary_color_rgb, 0.3);

        ellipse {
            fill: rgb($secondary_color_rgb, 0.3);
        }
    }
}

.personal-trainingImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($tertiary_color_rgb, 0.3);
            }
        }
    }
}

.personal-trainingHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.kids-programHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($tertiary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($tertiary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($secondary_color_rgb, 0.3);

        ellipse {
            fill: rgb($secondary_color_rgb, 0.3);
        }
    }
}

.teen-programImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($tertiary_color_rgb, 0.3);
            }
        }
    }
}

.teen-programHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.sports-performanceImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($primary_color_rgb, 0.3);
            }
        }
    }
}

.sports-performanceHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($tertiary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($tertiary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($secondary_color_rgb, 0.3);

        ellipse {
            fill: rgb($secondary_color_rgb, 0.3);
        }
    }
}

.crossfitImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($tertiary_color_rgb, 0.3);
            }
        }
    }
}

.crossfitHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.small-group-personal-trainingImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($primary_color_rgb, 0.3);
            }
        }
    }
}

.small-group-personal-trainingHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}

.free-intro-nutritionImageWrapper {
    .heroPages_imageWrapper {
        .heroPages_imageBorderWrapper {
            img {
                border: 16.28px solid rgb($tertiary_color_rgb, 0.3);
            }
        }
    }
}

.free-intro-nutritionHeroSection {
    .pagesHeroPinkDeco {
        fill: rgb($secondary_color_rgb, 0.5);

        g {
            ellipse {
                fill: rgb($secondary_color_rgb, 0.5);
            } 
        }
    }

    .pagesHeroPurpleDeco {
        fill: rgb($primary_color_rgb, 0.3);

        ellipse {
            fill: rgb($primary_color_rgb, 0.3);
        }
    }
}


@media screen and (min-width: $size_lg) {
    .corporate-wellness-heroPages {
        margin-right: 5%;
    }
}
