.twoColumnsPages_image__wrapper {
    .twoColumnsPagesImageContentWrapper {
        img {
            border-radius: 160px 20px 20px 160px;
            box-shadow: 0px 2.7px 75.68px 0px #00000021;

        }
    }
}

.twoColumnsPages_image__wrapper {
    .contentImageWrapper {
        img {
            border-radius: 20px 160px 160px 20px;
            box-shadow: 0px 2.7px 75.68px 0px #00000021;

        }
    }
}

.twoColumnsContent_wrapper {
    h2 {
        font-size: 36px;
        font-weight: 800;
        line-height: 44px;
    }
}

@media (min-width: $size_md) and (max-width: $size_lg) {
    .twoColumnsContent_wrapper {
        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 2rem;
        }

        p {
            font-size: 18px;
        }
    }
    
    .twoColumnImageDeco {
        top: -5%;
        left: -110% !important;
    }
}

.twoColumnSectionDeco {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



@media screen and (max-width: $size_lg) {
    .twoColumnsContent_wrapper {
        text-align: center;
    }
}

.twoColumnImageDeco {
    position: absolute;
    top: -10%;
    left: -70%;
    transform: scale(0.5);
    z-index: -1;
}