.footerCopyright_link:hover {
    text-decoration: underline;
}

.footerCopyright_link {
    color: $primary_color;

    span {
        color: $primary_color;
    }
}

.footerCredential {
    color: $primary_color;
}

.footerCopyright {
    p {
        font-size: 16px;
        color: $primary_text_color;
        font-weight: 600;
    }
}

#menu-footer-menu {
    display: flex;
    list-style: none; /* Optional: remove default bullets */
    padding: 0;      /* Optional: remove default padding */
    margin: 0;       /* Optional: remove default margin */
}

#menu-footer-menu li {
    position: relative; /* Position for the pseudo-element */
}

#menu-footer-menu li:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 5px;  
    height: 5px; 
    background-color: $primary_color;
    border-radius: 50%;
    margin-left: 10px; 
    margin-right: 10px;
    vertical-align: middle;
}

#menu-footer-menu {
    li {
        a {
            color: $primary_text_color;
        }

        a:hover {
            color: $footer_link_hover_color;
        }
    }
}

.bottom-footer {
    position: relative;
    padding-top: 40px;
    margin-top: 150px;
}

.bottom-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(254, 202, 202, 1) 50%, rgba(255, 0, 0, 0) 100%);
    z-index: 1;
}

.footer_openingHours__wrapper {
    li {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}

.footerCredential {
    color: $primary_color;
}

.footerDeco {
    position: absolute;
    top: 0;
    left: 20%;
}

.footerShapeDeco {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 95%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

//Footer Links
.contactInfo_link {
    color: $footer_link_color;
    transition: color 0.3s ease-in-out 0.1s; // Adding transition delay of 0.1s
}

.contactInfo_link:hover {
    color: $footer_link_hover_color;
}

.contactInfo_link:active {
    color: $footer_link_active_color;
}

.addressLink {
    span {
        color: $footer_link_color;
        transition: color 0.3s ease-in-out 0.1s; // Adding transition delay of 0.1s
    }
}

.addressLink:hover {
    span {
        color: $footer_link_hover_color;
    }
}

.addressLink:active {
    span {
        color: $footer_link_active_color;
    }
}

.footerInfo_card__heading {
    color: $primary_color;
}

.footerInfo_contact__heading {
    color: $primary_light_text_color;
}

@media screen and (max-width: $size_lg) {
    .footerLogoWrapper {
        a {
            display: flex;
            justify-content: center;
        }
    }

    .footerPartnerWrapper {
        display: flex;
        justify-content: center;
    }

    .footerOpeningHours {
        text-align: center;
    }

    .footer_openingHours__wrapper {
        li {
            display: flex;
            justify-content: space-between;
        }
    }

    .daySpan {
        text-align: start;
    }

    .footerContact {
        text-align: center;
    }

    .footerContact {
        a {
            display: flex;
            justify-content: center;
            margin-left: 0.5rem;
        }
    }

    .footerAddress {
        text-align: center;
        width: 80%;

        .addressLink {
            div {
                span {
                    font-size: 18px;
                }
            }
        }
    }

    .bottom-footer {
        margin-top: 100px;
    }

    #menu-footer-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 5px 0;
        }
    }

    #menu-footer-menu li:not(:last-child)::after {
        content: none;
        display: none;
        width: 0;
        height: 0;
        margin: 0;
    }

    #menu-footer-menu li:not(:first-child) a::before {
        content: '';
        display: inline-block;
        width: 5px;  
        height: 5px; 
        background-color: $primary_color;
        border-radius: 50%;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }
}