// Importing Tailwind stylings
@tailwind base;
@tailwind components;
@tailwind utilities;

// Loading fonts
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

/*--------------------------------------------------------------
# Global stylings and variables used across site
--------------------------------------------------------------*/
@import "variables/colors";
@import "variables/elements";
@import "variables/text_underlines";

/*--------------------------------------------------------------
# Navigation stylings
--------------------------------------------------------------*/
@import "navigation/header_nav";
@import "navigation/footer";
@import "navigation/popup_forms";

/*--------------------------------------------------------------
# Styling for blocks
--------------------------------------------------------------*/
@import "blocks/home_hero";
@import "blocks/steps_cards";
@import "blocks/get_strong";
@import "blocks/programs_section";
@import "blocks/reviews";
@import "blocks/cta_banner";
@import "blocks/guide_section";


.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff; /* Change this to match your design */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Optional shadow */
}


#form-popup {
    display: none; /* Default hidden */
}

#form-popup.active {
    display: flex; /* Display as a flexbox when active */
}

#form-popup.hidden {
    display: none; /* Ensures the popup is hidden when .hidden class is present */
}