// Importing Tailwind stylings
@tailwind base;
@tailwind components;
@tailwind utilities;

// Loading fonts
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

/*--------------------------------------------------------------
# Global stylings and variables used across site
--------------------------------------------------------------*/
@import "variables/colors";
@import "variables/responsive_sizes";
@import "variables/elements";
@import "variables/text_underlines";


/*--------------------------------------------------------------
# Navigation stylings
--------------------------------------------------------------*/
@import "navigation/header_nav";
@import "navigation/footer";
@import "navigation/popup_forms";
@import "navigation/owl_carousel";

/*--------------------------------------------------------------
# Styling for blocks
--------------------------------------------------------------*/
@import "blocks/homepage/home_hero";
@import "blocks/homepage/steps_cards";
@import "blocks/homepage/get_strong";
@import "blocks/homepage/programs_section";
@import "blocks/homepage/reviews";
@import "blocks/homepage/cta_banner";
@import "blocks/homepage/guide_section";

@import "blocks/pages/pages_elements";
@import "blocks/pages/hero_section";
@import "blocks/pages/schedule_section";
@import "blocks/pages/class_cards";
@import "blocks/pages/cta_banner";
@import "blocks/pages/benefit_cards";
@import "blocks/pages/team_cards";
@import "blocks/pages/two_column_section";
@import "blocks/pages/embed_code_section";

@import "blocks/blog/blog_archive";

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 45;
    background-color: #fff; /* Change this to match your design */
    box-shadow: 0 1px 5px rgba(0,0,0,0.05); /* Optional shadow */
}


#form-popup {
    display: none; /* Default hidden */
}

#form-popup.active {
    display: flex; /* Display as a flexbox when active */
}

#form-popup.hidden {
    display: none; /* Ensures the popup is hidden when .hidden class is present */
}

.no-scroll {
    overflow: hidden; /* Prevent scrolling */
    height: 100%; /* Ensure the height is set */
}